.LogoSearch{
    display: flex;
    gap: 0.75rem;
}

.Search{
    display: flex;
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 5px;
}

.Search>input{
    border: none;
    background-color: transparent;
    outline: none;
}
.searchicon:hover{
    cursor: pointer;
    color: rgb(251, 187, 113);
}