.results-list {
    z-index: 3;
    max-height: 3rem;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 200px;
    overflow-y: auto;
}

.input-wrapper {
    width: 16rem;
}

.adj-cross-icon {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}