.name{
    color: black;
}

.name-col{
    color: rgb(1, 34, 35);
}
.follower
{
    display:flex ;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}


.fc-button{
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    width: 5rem;
}

.UnfollowButton{
    color: rgb(36, 35, 36);
    background: rgb(145, 247, 188);
    border: 2px solid rgb(244, 198, 198);
    cursor: pointer;
    /* background: transparent; */
}


@media only screen and (max-width: 767px)
{
    .follower
    {
        width: 95%;
    }
}